@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="twelve columns wasabi">
		    <canvas id="gameCanvas" width="900" height="580" style="background-color:#D4EE5E"></canvas>
	</div>
</div>