@{
    ViewBag.Title = "Index";
}

<div class="row">
    <ul class="button-group [radius, rounded]">
      <li><a href="#" id="joinGame" class="button radius">Add Player</a></li>
      <li><a href="#" id="beginGame" class="button radius">Begin Game</a></li>
    </ul>
</div>
<div class="row">
    <div class="twelve columns wasabi">
        <canvas id="gameCanvas" width="900" height="580" style="background-color:#D4EE5E"></canvas>
    </div>
</div>
