@model WebUI.ViewModels.JoinViewModel
@using HtmlTags
  
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    
    <div class="twelve columns wasabi">
        
        <h2>Join or start a game</h2>
        <ul class="button-group [radius, rounded]">
            <li><a href="#" id="newGame" class="button radius">New Game</a></li>
        </ul>
    
        <ul id="gameList">
            @foreach (var g in Model.Games)
            {
                <li>Id: @g.Id . Players : @g.Players.Count 
                    @Html.ActionLink("Join Game", "Index", new { Controller = "Game", id = @g.Id }, new { @class = "tiny button joinGame" })
                </li>
            }
        </ul>
    </div>
    
</div>