@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

<div class="row">
    <div class="twelve columns wasabi">
        <canvas id="testCanvas" width="900" height="580" style="background-color:#D4EE5E"></canvas>
    </div>
</div>

