/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/



@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/css/fonts/BebasNeue-webfont.eot');
    src: url('/css/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/css/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/css/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background: url(http://static.tumblr.com/ts2nqrf/Iayl8dtss/bg.jpg) top left repeat;
}

.top-bar
{
	background: url(http://static.tumblr.com/ts2nqrf/fGxl8du40/texture.png) top left repeat;

	background-color: #ff4242;
	height: 175px;
}


.wasabi
{
	background-color: #D4EE5E;
    font-family: BebasNeueRegular;
}


h3 {
    font: 36px 'BebasNeueRegular', Arial, sans-serif;
    letter-spacing: 0;
}


h1.fontface 
{font: 60px/68px 'BebasNeueRegular', Arial, sans-serif;letter-spacing: 0;}

		p.style1 {font: 18px/27px 'BebasNeueRegular', Arial, sans-serif;}
		
/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


