@{
    ViewBag.Title = "Shithead";
}

<div class="row">

 </div>


@* <div class="row">
    <div class="twelve columns">
      <div id="featured">
        <img src="http://placehold.it/1200x250&text=Slide_1" alt="slide image">
        <img src="http://placehold.it/1200x250&text=Slide_2" alt="slide image">
        <img src="http://placehold.it/1200x250&text=Slide_3" alt="slide image">
      </div>
    </div>
  </div>*@

<div class="row">
    <div class="twelve columns">
      <div class="panel wasabi">
        <div class="row">
          <div class="three columns">
              <div class="panel">
                  <p><a href="/game/join"> image 1</a></p>
              </div>
              <h3>Multiplayer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis vulputate lacus vel dapibus.</p>
          </div>
          <div class="three columns">
              <div class="panel">
                  <p>image 2</p>
              </div>
              <h3>Single Player</h3>
            <p>Maecenas vitae convallis tortor. Vivamus et lacus nec augue faucibus ultricies.</p>
          </div>
          <div class="three columns">
              <div class="panel">
                  <p>image 3</p>
              </div>
              <h3>Register</h3>
            <p>Vestibulum vitae odio ut justo vestibulum lobortis. Aliquam dapibus, lorem interdum tempor convallis, lectus tellus euismod mi,</p>
          </div>
          <div class="three columns">
              <div class="panel">
                  <p>image 4</p>
              </div>
              <h3>About</h3>
            <p>Non suscipit ipsum odio vitae justo. Maecenas egestas rhoncus nisl ac rhoncus. Morbi pellentesque ipsum nec erat auctor rutrum. In consequat auctor nibh,</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <!--<h2>Welcome to Foundation</h2>
      <p>This is version <strong>3.0.9</strong> generated on August 15, 2012.</p>
      <hr />-->
    </div>
  </div>

  <div class="row">

  </div>